body{
    background-color: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
.head{ 
    width: 1920px;
    height: 80px;
    justify-content: center;
    display: flex;
    margin: 0 auto; 
    border-bottom: 2px solid white;
}   
.menu{
    width:1278px ;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
    margin: auto;  
 }
 ul{
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between; 
 }
 ul li{
    list-style-type: none;
 }
.botao{
    text-decoration: none;
    padding: 8px;
    color: aliceblue;
}
.btn{
    text-decoration: none;
    border: 2px solid white;
    padding: 8px;
    border-radius: 5px;
    color: aliceblue;
}

.btn:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}
.container{
    width: 1920px;
    justify-content: center;
    margin: 0 auto;
}
.texto span{
    font-size: 60px;
}
.box1{
     width: 1278px;  
     display: flex;
     margin: auto;
     justify-content: space-around;
}
.box1 img{
    width:500px;
}  
.box1 .texto{
    align-content: space-between;
}
.box2{
     width: 1278px;  
     display: flex;
     margin: auto;
     justify-content: space-around;
}
   
.box3{
    width: 1278px;  
    display: flex;
    margin: auto;
    justify-content: space-around;
    background: linear-gradient(89.95deg, #91282F 0.44%, #330002 98.92%);
    
}
.box3 img{
    width: 500px;
}
.footer{
    background-color: white;
    width: 1920,px;
    height: 281px;
    color: black;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
    
.texto.footer{
     width: 1278px;
}
.rodape{
    width: 50%;
    display: inline-flex;
   justify-content: space-around;
}
.rdp{
    width:50%;
    display: inline-flex;
    justify-content: space-between;
}

.img.foter{
    width: 197px;
    height: 17px;
    margin: 48px 860px;
}